<a href="https://colab.research.google.com/github/kgpawar/Big-Data/blob/main/PySparkRDDPersistence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 18.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=0c7cb6eb7a080877c7a230c23dc07642a5eb7e9bed10ffda2bd8818b84972eb5
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master("local[4]").appName('Krishna Pawar').getOrCreate()

In [4]:
# Spark Context Object
sc = spark.sparkContext

In [15]:
df = spark.read.option('header',True).csv('student.csv')

In [16]:
df_cache = df.cache() # Default storage location is MEMORY_ONLY

In [17]:
df_cache.show()

+----+-------+-----+-----+---+
|roll|   name|class|marks|age|
+----+-------+-----+-----+---+
|   1|   anil|   TE|56.77| 22|
|   2|   amit|   TE|59.77| 21|
|   3| aniket|   BE|76.88| 19|
|   4|ajinkya|   TE|69.66| 20|
|   5|   asha|   TE|63.28| 20|
|   6| ayesha|   BE|49.55| 20|
|   7|   amar|   BE|65.34| 19|
|   8|  amita|   BE|68.33| 23|
|   9|   amol|   TE|56.75| 20|
|  10|  anmol|   BE|78.66| 21|
+----+-------+-----+-----+---+

In [18]:
df_persist = df.persist() # Default storage location is MEMORY_AND_DISK

In [19]:
df_persist.show()

+----+-------+-----+-----+---+
|roll|   name|class|marks|age|
+----+-------+-----+-----+---+
|   1|   anil|   TE|56.77| 22|
|   2|   amit|   TE|59.77| 21|
|   3| aniket|   BE|76.88| 19|
|   4|ajinkya|   TE|69.66| 20|
|   5|   asha|   TE|63.28| 20|
|   6| ayesha|   BE|49.55| 20|
|   7|   amar|   BE|65.34| 19|
|   8|  amita|   BE|68.33| 23|
|   9|   amol|   TE|56.75| 20|
|  10|  anmol|   BE|78.66| 21|
+----+-------+-----+-----+---+

In [20]:
import pyspark

In [21]:
df_persist1 = df.persist(pyspark.StorageLevel.DISK_ONLY) #Storage location is DISK_ONLY

In [22]:
df_persist1.show()

+----+-------+-----+-----+---+
|roll|   name|class|marks|age|
+----+-------+-----+-----+---+
|   1|   anil|   TE|56.77| 22|
|   2|   amit|   TE|59.77| 21|
|   3| aniket|   BE|76.88| 19|
|   4|ajinkya|   TE|69.66| 20|
|   5|   asha|   TE|63.28| 20|
|   6| ayesha|   BE|49.55| 20|
|   7|   amar|   BE|65.34| 19|
|   8|  amita|   BE|68.33| 23|
|   9|   amol|   TE|56.75| 20|
|  10|  anmol|   BE|78.66| 21|
+----+-------+-----+-----+---+

Unpersist

In [23]:
df_persist.unpersist()

DataFrame[roll: string, name: string, class: string, marks: string, age: string]

In [ ]:
df